h1{
    color: blueviolet;
    text-align: start;
    
}

h2{
    color: blue;
    text-align: center;
}

h3{
    color: brown;
    text-align:end;
}

p{
    color: cadetblue;
    text-decoration: double;
    text-align: justify;
}
#good-day{
    text-transform: capitalize;
    font-size:50px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#paragraph{
    color: chartreuse;
    border: 1px solid black;
    height:150px;
    width:150px;
    overflow: scroll;
    border:2px dashed magenta;
    padding :3px;
}

div{
 margin-left:50%;  
 margin-top: 50%;
 margin-right: 50%; 
 margin-bottom:50%;    
margin: 50%,50%,50%,50%;
}

#create-box{
    height: 100px;
    width:100px;
    background-color: blue;
}
a:link{
    color:brown;
}
a:hover{
    color:brown;
}
a:active{
    color:yellow;
}
a:visited{
    color:burlywood;
}